<!DOCTYPE html>
<html>
<title>DISPLAY COMMENT</title>
<link rel="stylesheet" type="text/css" href="/static/pen.css">

<a id="thelink" href ='{{url}}'>{{sometext}}</a>

<form id="datacontainer" method="post">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div id="commentinput">
        <a href=""></a>
        <input id="comment" type="text" name="comment" placeholder="comment">
    </div>
    <button id="submitcomment" type="submit">submit</button>
    <a href="/pen" id="revert">REVERT TO MAIN PAGE</a>
</form>


<div id="commentsspace">

    <ul>
        {{#each myData}}
        <li>
            <p id="placeforcomments">{{this.comment}}</p>
            <h1>the links id is {{this.comments_linksid}}</h1>
            <form action="/item/{{this.comments_id}}/subcomment"  id="datacontainer" method="post">
                <input id="comment" type="text" name="comment">
                <input type="hidden" id="thecommentsid{{this.comments_id}}" name="parentcommentid" value='{{this.comments_id}}'>
                <input type="hidden" id="thecommentslinksid{{this.comments_id}}" name="linksid" value='{{this.comments_linksid}}'>

                <button id="reply" type="submit">Reply</button>
            </form>
            <form method="get" >
                <button  class="expand" id="expand{{this.comments_id}}" type="button">Expand</button>
            </form>
            <div class="{{children}}"></div>

        </li>
        <div id="anothercomment"
        <a href="http://localhost:8080/item/{{id}}" id="pfac"></a>
    </div>

    {{/each}}


</ul>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="/static/browser.js"></script>


</html>
